    @page "/dashboard"
@using BlazorApp.Service
@inject DBService DbService
@inject UsersService.User user

            <!-- Vertical Pills Navigation -->
            <div class="d-flex align-items-start">
                <!-- Features Section -->
                <section id="features" class="container my-5">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-body">
                                    <img src="https://cbx-prod.b-cdn.net/COLOURBOX7139093.jpg" alt="Smiley face" width="42" height="42" class="rounded-circle" style="border:5px solid black">
                                    <h5 class="card-title">Navn</h5>

                                    <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                        <div class="list-group">
                                            <a href="/dashboard" class="list-group-item list-group-item-action bg-secondary text-white active">Dashboard</a>
                                            <a href="/profil_oplysninger" class="bg-body-secondary list-group-item list-group-item-action">Profil oplysninger</a>
                                            <a href="/mine_bilannoncer" class="bg-body-secondary list-group-item list-group-item-action">Mine Bilannoncer</a>
                                            <a href="/betalings_historik" class="bg-body-secondary list-group-item list-group-item-action">Betalings historik</a>
                                            <a href="/settings" class="bg-body-secondary list-group-item list-group-item-action">Settings</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Biler liste</h5>
                                    <p class="card-text">Her kan du se alle data for dine oprettede salgsannoncer</p>
                                    <div class="tab-content" id="v-pills-tabContent">
                                        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab" tabindex="0">


<button onclick="@GetCoopers">Get own coopers</button>

<div class="container">

    <div class="row row-cols-2 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-1">
        @foreach (var fullMiniCooper in userFullMiniCoopers)
        {
            <div class="col" style="padding: 10px">
                <div class="card h-100">

                    <div id="@fullMiniCooper.GetCarId()" class="carousel slide">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                @* Karrusel skal have en "active" klasse, ellers så bliver ikke vist. - Bootstrap *@
                                <img src="data:image/png;base64,@fullMiniCooper.GetFirstImage()" class="card-img" alt="HeaderImage">
                            </div>
                            @* Siden vi skal have et "header" element, så starter vi ved 1, i stedet for 0. *@
                            @for (int i = 1; i < fullMiniCooper.GetImages().Count; i++)
                            {
                                <div class="carousel-item">
                                    <img src="data:image/png;base64,@fullMiniCooper.GetImageByIndex(i)"
                                         class="card-img" alt="sliderImage">
                                </div>
                            }
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#@fullMiniCooper.GetCarId()"
                                data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#@fullMiniCooper.GetCarId()"
                                data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>

                    <div class="card-body">
                        <h5 class="card-title">@fullMiniCooper.GetModelName()</h5>
                        <p class="card-text">@fullMiniCooper.GetModelType()</p>
                        <p class="card-text">@fullMiniCooper.GetPrice().ToString(" .kr")</p>
                        <p class="card-text">@fullMiniCooper.GetFuelType()</p>
                        <p class="card-text">@fullMiniCooper.GetGearType()</p>
                    </div>
                </div>
            </div>
        }
    </div>

</div>

<button onclick="@PrintUser">Print User</button>

@code {
    List<MiniCooper.FullMiniCooper> userFullMiniCoopers = new();

    private async Task GetCoopers()
    {
        user.Id = 1;
        userFullMiniCoopers = await DbService.GetFullMiniCoopersByUserId(user.Id);
    }

    private void PrintUser()
    {
        user.Print();
    }

}



                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>