@page "/users"
@using BlazorApp.Service
@inject DBService DbService

<PageTitle>Brugere</PageTitle>

<h2 style="padding:  20px;">Brugere</h2>

<div class="container-fluid text-end" style="background-color: #012169; padding: 20px;">
    <div class="d-flex justify-content-end flex-wrap"></div>
    @if (fullUsers == null)
    {
        <p>Loading...</p>
    }
    else
    {
        @foreach (var user_2 in fullUsers)
        {
            var baseUser = user_2.GetEvUser() as UsersService.User;
            <div class="card mb-3" style="max-inline-size: 540px;">

                        <div class="col-md-8">
                        </div>
                        <div class="card-body">
            <h5 class="card-title">@baseUser.Name, </h5>
            <p class="card-text">Color: @baseUser.Password</p>
            <p class="card-text">Price: @baseUser.Mobile</p>
            <p class="card-text">Mileage: @baseUser.Email</p>
            <p class="card-text">Max Range: @baseUser.City</p>
            <p class="card-text">Max Range: @baseUser.Address</p>
                        </div>
                    </div>
                }
                }
</div>

@code {
    private List<UsersService.FullUser>? fullUsers;

    protected override async Task OnInitializedAsync()
    {
        // fullUsers = await DbService.GetUserByIdAsync();
        // fullUsers = fullUsers.Take(10).ToList();
    }
}