@page "/user-dashboard"
@using BlazorApp.Service
@using BlazorApp.Components.Pages.DashboardSection
@inject NavigationManager NavigationManager
@inject DBService DbService
@inject UsersService.User user
<PageTitle>User Dashboard</PageTitle>

<div class="d-flex align-items-start">
    <section id="features" class="container my-5">
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <img src="https://cbx-prod.b-cdn.net/COLOURBOX7139093.jpg" alt="Smiley face" width="42"
                             height="42" class="rounded-circle" style="border:5px solid black">
                        <h5 class="card-title">@user.Name</h5>

                        <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist"
                             aria-orientation="vertical">
                            <div class="list-group">
                                <button type="button"
                                        class="@GetButtonClasses("dashboard")"
                                        onclick="@(() => HandleSection("dashboard"))">
                                    Dashboard
                                </button>

                                <button type="button"
                                        class="@GetButtonClasses("profile-info")"
                                        onclick="@(() => HandleSection("profile-info"))">
                                    Profil oplysninger
                                </button>

                                <button type="button"
                                        class="@GetButtonClasses("create-mini-cooper")"
                                        onclick="@(() => HandleSection("create-mini-cooper"))">
                                    Opret Mini Cooper
                                </button>

                                <button type="button" onclick="@(() => HandleSection("edit-cooper"))"
                                        class="bg-body-secondary list-group-item list-group-item-action">Redigerer Mini
                                    Cooper
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                @switch (sectionOption)
                {
                    case "dashboard":
                        <DashboardCoopers/>
                        break;
                    case "profile-info":
                        <ProfileInfo/>
                        break;
                    case "create-mini-cooper":
                        <NewCarDashboard/>
                        break;
                    case "edit-cooper":
                        <EditCarDashboard/>
                        break;
                    default:
                        <DashboardCoopers />
                        break;
                }
            </div>
        </div>

    </section>
</div>

@code{

    string sectionOption = "dashboard";

    protected override void OnInitialized()
    {
        if (user.Id == 0)
        {
            Console.WriteLine("User not logged in.");
            NavigationManager.NavigateTo("/");
        }
    }

    private void HandleSection(string option)
    {
        Console.WriteLine("Setting option...");
        sectionOption = option;
    }

    private string GetButtonClasses(string option)
    {
        return sectionOption == option
            ? "list-group-item list-group-item-action bg-secondary text-white active"
            : "bg-body-secondary list-group-item list-group-item-action";
    }

}